.content-wrapper {
    background-color: #e8e8e8;
}

.article-main-img {
    max-height: 63vh;
}

.special-title {
    display: flex;
    flex-direction: row;
}

.special-title:before,
.special-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.special-title:before {
    margin-right: 10px
}

.special-title:after {
    margin-left: 10px
}

.main-header {
    font-family: 'Lobster', cursive;
    color: rgba(144, 172, 109, 1);
    text-shadow: 2px 1px black;
}

.article-text,
.breadcrumbs {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.article-img {
    cursor: pointer;
}

.page-item .page-link {
    color: black;
}

.page-item .page-link:hover {
    color: #f19824;
}

.page-item .page-link:focus {
    color: #f19824;
}

.article-title:hover {
    color: #f19824;
}

.breadcrumbs {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.breadcrumb-item a {
    color: #46583e;
}

.breadcrumb-item a:hover {
    color: #859f79;
}