@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.header-wrapper {
    padding-top: 30vh;
    height: 78vh;
}

.content-wrapper {
    background-color: #e8e8e8;
}

.main-header {
    font-family: 'Lobster', cursive;
}

a {
    text-decoration: none !important;
}

.head-info {
    color: rgba(144, 172, 109, 1);
    text-shadow: 2px 1px black;
}

.card-articles-title {
    color: #859f79;
}

.card-articles-title:hover {
    color: #f19824;
}


/* special button */

.button-wrapper {
    /* padding-top: 100px; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-word {
    font-family: 'Lobster', cursive;
    background-color: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.4em;
    font-weight: 600;
    padding: 20px;
    padding-right: 16px;
    font-size: 30px;
    text-align: center;
    color: #f19824;
    text-shadow: 2px 2px black;
    cursor: pointer;
    max-width: 500px;
    width: 100%;
    outline: 3px solid;
    outline-color: #f19824;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(144, 172, 109, 1);
    text-shadow: 2px 2px black;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
}

.articles-row {
    background-color: #46583e;
}

.carousel {
    width: 500px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.special-title {
    display: flex;
    flex-direction: row;
}

.special-title:before,
.special-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.special-title:before {
    margin-right: 10px
}

.special-title:after {
    margin-left: 10px
}

.main-page-btn,
.main-page-badge {
    background-color: #232822 !important;
    color: #859f79 !important;
}

.articles-btn {
    background-color: #f19824 !important;
}

.articles-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card:hover,
.article-img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.main-page-btn:hover {
    color: #f19824 !important;
}

.main-page-btn.focus {
    box-shadow: 1px 1px #46583e !important;
}

.card {
    border: none !important;
}

.start-quotes {
    background-image: url(../Images/quotes.png);
}

.end-quotes {
    background-image: url(../Images/quotes2.png);
}

.quotes {
    width: 100px;
    height: 67px;
    background-size: cover;
    position: relative;
    padding: 0px !important;
    margin: 0px;
}

.cut-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}