@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
.header-wrapper {
    padding-top: 30vh;
    height: 78vh;
}

.content-wrapper {
    background-color: #e8e8e8;
}

.main-header {
    font-family: 'Lobster', cursive;
}

a {
    text-decoration: none !important;
}

.head-info {
    color: rgba(144, 172, 109, 1);
    text-shadow: 2px 1px black;
}

.card-articles-title {
    color: #859f79;
}

.card-articles-title:hover {
    color: #f19824;
}


/* special button */

.button-wrapper {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animated-word {
    font-family: 'Lobster', cursive;
    background-color: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.4em;
    font-weight: 600;
    padding: 20px;
    padding-right: 16px;
    font-size: 30px;
    text-align: center;
    color: #f19824;
    text-shadow: 2px 2px black;
    cursor: pointer;
    max-width: 500px;
    width: 100%;
    outline: 3px solid;
    outline-color: #f19824;
    transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8);
}

.animated-word:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(144, 172, 109, 1);
    text-shadow: 2px 2px black;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px;
}

.articles-row {
    background-color: #46583e;
}

.carousel {
    width: 500px;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #46583e;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgba(144, 172, 109, 1);
}

.special-title {
    display: flex;
    flex-direction: row;
}

.special-title:before,
.special-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.special-title:before {
    margin-right: 10px
}

.special-title:after {
    margin-left: 10px
}

.main-page-btn,
.main-page-badge,
.swal-button--cancel {
    background-color: #232822 !important;
    color: #859f79 !important;
}

.articles-btn,
.swal-button--confirm {
    background-color: #f19824 !important;
}

.articles-btn:hover,
.swal-button--confirm:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card:hover,
.article-img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}

.main-page-btn:hover,
.swal-button--cancel:hover {
    color: #f19824 !important;
}

.main-page-btn.focus {
    box-shadow: 1px 1px #46583e !important;
}

.card {
    border: none !important;
}

.start-quotes {
    background-image: url(../Images/quotes.png);
}

.end-quotes {
    background-image: url(../Images/quotes2.png);
}

.quotes {
    width: 100px;
    height: 67px;
    background-size: cover;
    position: relative;
    padding: 0px !important;
    margin: 0px;
}

.cut-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-validate p {
    color: red;
}

.page404 {
    height: 95vh;
}

.react-tabs__tab {
    color: white;
    text-shadow: 1px 1px black;
}

.react-tabs__tab--selected {
    text-shadow: none;
    background: rgba(144, 172, 109, 1) !important;
    border: none !important;
}

.react-tabs__tab-panel--selected {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    min-height: 55vh;
}

.empty-background {
    background-color: #e8e8e8;
    height: 10vh;
}

.chat-window {
    height: 76vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    overflow-y: scroll;
}

.chat-btn {
    background-color: #f19824 !important;
}

.chat-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

textarea {
    height: 200px;
}


/* navigation */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* header */

.hero-image-wrapper {
    height: 100vh;
    width: 100%;
    background-image: url(../Images/header.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px !important;
    margin: 0px;
    z-index: -1;
}

.logo-img {
    max-width: 60px;
}

.nav-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-title,
.nav-icon {
    color: rgb(144, 172, 109) !important;
    text-shadow: 2px 2px black;
}

.nav-link.active,
.nav-icon.active {
    color: #f19824 !important;
}

.nav-icon:hover,
.logo-img:hover,
.social-media-icon:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}

.nav-link.nav-title:hover {
    color: rgb(99, 117, 77) !important;
}

.nav-title {
    display: none !important;
    font-family: 'Lobster', cursive;
}

@media only screen and (min-width: 768px) {
    .nav-title {
        display: block !important;
        justify-content: space-between;
    }
}

.nav-icon {
    display: block !important;
}

@media only screen and (min-width: 768px) {
    .nav-icon {
        display: none !important;
    }
}


/* footer */

.special-footer-col {
    border-radius: 50px 0px 0px 0px;
    background-color: #859f79;
}

.no-special-font {
    font-family: var(--bs-font-sans-serif);
}

.footer-middle-col {
    background-color: #46583e;
    color: #f19824;
}

.footer-end-col {
    background-color: #232822;
    font-family: 'Lobster', cursive;
    color: #859f79;
}

footer {
    background-color: #e8e8e8;
}

.footer-img {
    max-height: 50px;
}


/* articles */

.content-wrapper {
    background-color: #e8e8e8;
}

.article-main-img {
    max-height: 63vh;
}

.special-title {
    display: flex;
    flex-direction: row;
}

.special-title:before,
.special-title:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.special-title:before {
    margin-right: 10px
}

.special-title:after {
    margin-left: 10px
}

.main-header {
    font-family: 'Lobster', cursive;
    color: rgba(144, 172, 109, 1);
    text-shadow: 2px 1px black;
}

.article-text,
.breadcrumbs,
.header-background {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.article-img {
    cursor: pointer;
}

.page-item .page-link {
    background-color: rgba(255, 255, 255, 0.7);
    color: #46583e;
}

.page-item .page-link:hover {
    color: #f19824;
}

.page-item .page-link:focus {
    color: #f19824;
}

.article-title:hover {
    color: #f19824;
}

.breadcrumbs {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.breadcrumb-item a {
    color: #46583e;
}

.breadcrumb-item a:hover {
    color: #859f79;
}

.form-label,
.chat-name,
.about-title {
    color: #46583e;
}

.special-quote {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}